__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# Mac
.DS_Store

# Streamlit
.streamlit/

# Logs
*.log
logsense.db
logsense.db
.venv/
__pycache__/
*.pyc
logsense.db
.venv/
